*{
    box-sizing: border-box;
}

.FmContainer{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:rgb(243, 241, 241);
    width: 550px;
    height: auto;
    box-shadow: 0 2px 8px #00000026;
    border-radius: 3px;
}